{% extends 'static/base_s.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    
        <!-- Header Start -->
        <div class="container-fluid header bg-dark p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4, text-white ">Find A <span class="text-primary">Perfect Home</span> To Invest In</h1>
                    <p class="animated fadeIn mb-4 pb-2 text-white-50">ProVex Homes LTD is the easiest way to access smarter investment options and earn real returns.
                        We make Real Estate investing simple, accessible and affordable.</p>
                    <a href="{% url 'signup' %}" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
                </div>
                <div class="col-md-6 animated fadeIn">
                    <div class="owl-carousel header-carousel">
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="{% static 'static/img/carousel-1.jpg' %}" alt="">
                        </div>
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="{% static 'static/img/carousel-2.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->

        <!-- Category Start -->
        <div class="container-xxl  bg-dark text-white-50 py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3 text-white">Property Types</h1>
                    <p>There are many variations of properties available,Provex Homes is a dominant Real Estate Establishment , Property Investment and Management Company.</p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'dashboard' %}">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <img class="img-fluid" src="{% static 'static/img/icon-apartment.png' %}" alt="Icon">
                                </div>
                                <h6>Apartment</h6>
                                <span>4,223 Properties</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'dashboard' %}">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <img class="img-fluid" src="{% static 'static/img/icon-villa.png' %}" alt="Icon">
                                </div>
                                <h6>Villa</h6>
                                <span>2,000 Properties</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'dashboard' %}">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <img class="img-fluid" src="{% static 'static/img/icon-house.png' %}" alt="Icon">
                                </div>
                                <h6>Home</h6>
                                <span>7,500 Properties</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'dashboard' %}">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <img class="img-fluid" src="{% static 'static/img/icon-housing.png' %}" alt="Icon">
                                </div>
                                <h6>Office</h6>
                                <span>1,525 Properties</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'dashboard' %}">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <img class="img-fluid" src="{% static 'static/img/icon-building.png' %}" alt="Icon">
                                </div>
                                <h6>Building</h6>
                                <span>3,500 Properties</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'dashboard' %}">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <img class="img-fluid" src="{% static 'static/img/icon-neighborhood.png' %}" alt="Icon">
                                </div>
                                <h6>Townhouse</h6>
                                <span>998 Properties</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'dashboard' %}">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <img class="img-fluid" src="{% static 'static/img/icon-condominium.png' %}" alt="Icon">
                                </div>
                                <h6>Shop</h6>
                                <span>2000 Properties</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'dashboard' %}">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <img class="img-fluid" src="{% static 'static/img/icon-luxury.png' %}" alt="Icon">
                                </div>
                                <h6>Garage</h6>
                                <span>3,000 Properties</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category End -->
        
        <!-- About Start -->
        <div class="container-xxl  bg-dark text-white-50 py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="about-img position-relative overflow-hidden p-5 pe-0">
                            <img class="img-fluid w-100" src="{% static 'static/img/about.jpg' %}">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4 text-white">Best Place To Find The Perfect Property Investment</h1>
                        <p class="mb-4">ProVex Homes is a prominent award winning real estate organization and property management company, with extensive experience in property investment and expert on luxury real estate, property management, consulting and sales devoted in perfecting the experience of hospitality and property Market. Developed in various fields of property and hospitality industry the company’s activities expand over a creative range of different sectors with the common purpose of introducing an original intensified concept that offers a complete accommodation experience.</p>
                        <p><i class="fa fa-check text-primary me-3"></i>13+ years of excellence in real estate investment and development</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Highly reputable with exceptional services in the UK</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Dedicated team for customer satisfaction and personalized advice</p>
                        <a class="btn btn-primary py-3 px-5 mt-3" href="{% url 'about' %}">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        {% include 'chunks/others.html' %}

        <!-- Property List Start -->
        <div class="container-xxl  bg-dark text-white-50 py-5">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end">
                    
                    <div class="col-lg-6">
                        <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                            <h1 class="mb-3 text-primary">Property Listing</h1>
                            <p>Exclusive Luxurious Apartments for sale.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 text-primary text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                        <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-primary active" data-bs-toggle="pill" href="#tab-1">Featured</a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-2">For Sell</a>
                            </li>
                            <li class="nav-item me-0">
                                <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-3">For Rent</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                              
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="property-item rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-1.jpg' %}" alt=""></a>
                                    <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Luxury Flat</div>
                                </div>
                                <div class="p-4 pb-0">
                                    <h5 class="text-primary mb-3">£750,000</h5>
                                    <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Regal Residence</a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>456 Park Lane, London, UK</p>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1200 Sqft</small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>4 Bed</small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>3 Bath</small>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="property-item rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-2.jpg' %}" alt=""></a>
                                    <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Spacious Villa</div>
                                </div>
                                <div class="p-4 pb-0">
                                    <h5 class="text-primary mb-3">£2,500 / month</h5>
                                    <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Serenity Gardens</a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>789 High Street, Manchester, UK</p>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1800 Sqft</small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>5 Bed</small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>4 Bath</small>
                                </div>
                            </div>
                        </div>

                            <!-- Property 3 -->
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-3.jpg' %}" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Commercial Space</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">£500,000</h5>
                                        <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Metro Plaza</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>101 Business Avenue, Birmingham, UK</p>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>2000 Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>—</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>—</small>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Property 4 -->
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-4.jpg' %}" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Eco-Friendly House</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">£1,200,000</h5>
                                        <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Green Living Residence</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>567 Nature Street, Bristol, UK</p>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1500 Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>4 Bed</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>3 Bath</small>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Property 5 -->
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-5.jpg' %}" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Modern Home</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">£2,000 / month</h5>
                                        <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Cityscape Living</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>789 Urban Avenue, Liverpool, UK</p>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1200 Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Property 6 -->
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-6.jpg' %}" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Premium Retail Space</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">£1,500,000</h5>
                                        <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Urban Marketplace</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>876 High Street, Newcastle, UK</p>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>2500 Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>—</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>—</small>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                                <a class="btn btn-primary py-3 px-5" href="{% url 'dashboard' %}">Browse More Property</a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Property Tab 2 Start -->
                    <div id="tab-2" class="tab-pane fade show p-0">
                        <div class="row g-4">

                                <!-- Property 3 -->
                                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="property-item rounded overflow-hidden">
                                        <div class="position-relative overflow-hidden">
                                            <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-3.jpg' %}" alt=""></a>
                                            <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                            <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Commercial Space</div>
                                        </div>
                                        <div class="p-4 pb-0">
                                            <h5 class="text-primary mb-3">£500,000</h5>
                                            <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Metro Plaza</a>
                                            <p><i class="fa fa-map-marker-alt text-primary me-2"></i>101 Business Avenue, Birmingham, UK</p>
                                        </div>
                                        <div class="d-flex border-top">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>2000 Sqft</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>—</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>—</small>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Property 4 -->
                                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="property-item rounded overflow-hidden">
                                        <div class="position-relative overflow-hidden">
                                            <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-4.jpg' %}" alt=""></a>
                                            <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                            <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Eco-Friendly House</div>
                                        </div>
                                        <div class="p-4 pb-0">
                                            <h5 class="text-primary mb-3">£1,200,000</h5>
                                            <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Green Living Residence</a>
                                            <p><i class="fa fa-map-marker-alt text-primary me-2"></i>567 Nature Street, Bristol, UK</p>
                                        </div>
                                        <div class="d-flex border-top">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1500 Sqft</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>4 Bed</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>3 Bath</small>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Property 5 -->
                                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="property-item rounded overflow-hidden">
                                        <div class="position-relative overflow-hidden">
                                            <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-5.jpg' %}" alt=""></a>
                                            <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                            <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Modern Home</div>
                                        </div>
                                        <div class="p-4 pb-0">
                                            <h5 class="text-primary mb-3">£2,000 / month</h5>
                                            <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Cityscape Living</a>
                                            <p><i class="fa fa-map-marker-alt text-primary me-2"></i>789 Urban Avenue, Liverpool, UK</p>
                                        </div>
                                        <div class="d-flex border-top">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1200 Sqft</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Property 6 -->
                                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="property-item rounded overflow-hidden">
                                        <div class="position-relative overflow-hidden">
                                            <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-6.jpg' %}" alt=""></a>
                                            <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                            <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Premium Retail Space</div>
                                        </div>
                                        <div class="p-4 pb-0">
                                            <h5 class="text-primary mb-3">£1,500,000</h5>
                                            <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Urban Marketplace</a>
                                            <p><i class="fa fa-map-marker-alt text-primary me-2"></i>876 High Street, Newcastle, UK</p>
                                        </div>
                                        <div class="d-flex border-top">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>2500 Sqft</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>—</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>—</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="property-item rounded overflow-hidden">
                                        <div class="position-relative overflow-hidden">
                                            <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-1.jpg' %}" alt=""></a>
                                            <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                            <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Luxury Flat</div>
                                        </div>
                                        <div class="p-4 pb-0">
                                            <h5 class="text-primary mb-3">£750,000</h5>
                                            <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Regal Residence</a>
                                            <p><i class="fa fa-map-marker-alt text-primary me-2"></i>456 Park Lane, London, UK</p>
                                        </div>
                                        <div class="d-flex border-top">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1200 Sqft</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>4 Bed</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>3 Bath</small>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="property-item rounded overflow-hidden">
                                        <div class="position-relative overflow-hidden">
                                            <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-2.jpg' %}" alt=""></a>
                                            <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                            <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Spacious Villa</div>
                                        </div>
                                        <div class="p-4 pb-0">
                                            <h5 class="text-primary mb-3">£2,500 / month</h5>
                                            <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Serenity Gardens</a>
                                            <p><i class="fa fa-map-marker-alt text-primary me-2"></i>789 High Street, Manchester, UK</p>
                                        </div>
                                        <div class="d-flex border-top">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1800 Sqft</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>5 Bed</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>4 Bath</small>
                                        </div>
                                    </div>
                                </div>

                            <div class="col-12 text-center">
                                <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                            </div>
                        </div>
                    </div>
                    <!-- Property Tab 2 End -->


                    <!-- Property Start -->
                    <div id="tab-3" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            
                            <!-- Property 5 -->
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-5.jpg' %}" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Modern Home</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">£2,000 / month</h5>
                                        <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Cityscape Living</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>789 Urban Avenue, Liverpool, UK</p>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1200 Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Property 6 -->
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-6.jpg' %}" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Premium Retail Space</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">£1,500,000</h5>
                                        <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Urban Marketplace</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>876 High Street, Newcastle, UK</p>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>2500 Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>—</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>—</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-1.jpg' %}" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Luxury Flat</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">£750,000</h5>
                                        <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Regal Residence</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>456 Park Lane, London, UK</p>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1200 Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>4 Bed</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>3 Bath</small>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-2.jpg' %}" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Spacious Villa</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">£2,500 / month</h5>
                                        <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Serenity Gardens</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>789 High Street, Manchester, UK</p>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1800 Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>5 Bed</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>4 Bath</small>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Property 3 -->
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-3.jpg' %}" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Commercial Space</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">£500,000</h5>
                                        <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Metro Plaza</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>101 Business Avenue, Birmingham, UK</p>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>2000 Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>—</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>—</small>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Property 4 -->
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'dashboard' %}"><img class="img-fluid" src="{% static 'static/img/property-4.jpg' %}" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Eco-Friendly House</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">£1,200,000</h5>
                                        <a class="d-block text-primary h5 mb-2" href="{% url 'dashboard' %}">Green Living Residence</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>567 Nature Street, Bristol, UK</p>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1500 Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>4 Bed</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>3 Bath</small>
                                    </div>
                                </div>
                            </div>
                 
                            <div class="col-12 text-center">
                                <a class="btn btn-primary py-3 px-5" href="{% url 'pricing' %}">Invest in Property</a>
                            </div>
                        </div>
                    </div>
                    <!-- Property End -->
              

                </div>
            </div>
        </div>
        <!-- Property List End -->


        <!-- Call to Action Start -->
        <div class="container-xxl  bg-dark text-white-50 py-5">
            <div class="container">
                <div class="bg-light rounded p-3">
                    <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                        <div class="row g-5 align-items-center">
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                                <img class="img-fluid rounded w-100" src="{% static 'static/img/call-to-action.jpg' %}" alt="Contact Our Certified Agent">
                            </div>
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="mb-4">
                                    <h1 class="mb-3">Connect with Our Expert Real Estate Agent</h1>
                                    <p>Explore your real estate opportunities with our certified agents. We are dedicated to providing personalized guidance for your property needs.</p>
                                </div>
                                <a href="#" class="btn btn-primary py-3 px-4 me-2"><i class="fa fa-phone-alt me-2"></i>Call Our Agent</a>
                                <a href="#" class="btn btn-dark py-3 px-4"><i class="fa fa-calendar-alt me-2"></i>Schedule Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action End -->

        <!-- Testimonial Start -->
        <div class="container-xxl  bg-dark text-white-50 py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3 text-primary">What Our Clients Say!</h1>
                    <p>Discover what our valued clients have to say about their experiences with our real estate services.</p>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-item bg-light rounded p-3">
                        <div class="text-dark border rounded p-4">
                            <p>"Working with this team was a game-changer for me. Their dedication and expertise made the entire process smooth and stress-free."</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded" src="{% static 'static/img/testimonial-1.jpg' %}" style="width: 45px; height: 45px;">
                                <div class="ps-3">
                                    <h6 class="fw-bold mb-1">Sarah Johnson</h6>
                                    <small>Business Owner</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-3">
                        <div class="text-dark border rounded p-4">
                            <p>"Exceptional service! The team went above and beyond to find the perfect property for me. I highly recommend their expertise."</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded" src="{% static 'static/img/testimonial-2.jpg' %}" style="width: 45px; height: 45px;">
                                <div class="ps-3">
                                    <h6 class="fw-bold mb-1">Michael Anderson</h6>
                                    <small>Software Engineer</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-3">
                        <div class="text-dark border rounded p-4">
                            <p>"Professionalism at its best! The team guided me through every step, ensuring a seamless transaction. I'm grateful for their expertise."</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded" src="{% static 'static/img/testimonial-3.jpg' %}" style="width: 45px; height: 45px;">
                                <div class="ps-3">
                                    <h6 class="fw-bold mb-1">David Miller</h6>
                                    <small>Marketing Specialist</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

   
{% endblock content %}
