{% extends 'base.html' %}
{% load static %}

{% block content %}
   <!-- Page Content  -->
   <div id="content-page" class="content-page">
      <div class="container-fluid">
         <div class="row profile-content">
            <div class="col-12 col-md-12 col-lg-4">
               
               <div class="iq-card">
                  <div class="iq-card-body profile-page">
                     <div class="profile-header">
                        <div class="cover-container text-center">
                           <img src="{{ user_data.image.url }}" alt="profile-bg" class="rounded-circle img-fluid">
                           <div class="profile-detail mt-3">
                              <h3>{{ user_data.last_name }} {{ user_data.first_name }}</h3>
                              <!-- Remove the following lines for firstname and lastname -->
                              <!-- <p class="text-primary">{{ user_data.job }}</p> -->
                              <!-- <p>{{ user_data.about_you }}</p> -->
                              <p class="text-primary">{{ user_data.phone_number }}</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="iq-card">
                  <div class="iq-card-header d-flex justify-content-between align-items-center mb-0">
                     <div class="iq-header-title">
                        <h4 class="card-title mb-0">Personal Details</h4>
                     </div>
                  </div> 
                  
                  <div class="iq-card-body">
                     <ul class="list-inline p-0 mb-0">
                        <li>
                           <div class="row align-items-center justify-content-between mb-3">
                              <div class="col-sm-6">
                                 <h6>Username</h6>                                       
                              </div>
                              <div class="col-sm-6">
                                 <p class="mb-0">{{ user_data.username }}</p>                                       
                              </div>
                           </div>
                        </li>
                        <li>
                           <!-- Remove the following lines for firstname and lastname -->
                           <div class="row align-items-center justify-content-between mb-3">
                              <div class="col-sm-6">
                                 <h6>Firstname</h6>                                       
                              </div>
                              <div class="col-sm-6">
                                 <p class="mb-0">{{ user_data.first_name }}</p>                                       
                              </div>
                           </div>
                        </li>
                        <li>
                           <!-- Remove the following lines for firstname and lastname -->
                           <div class="row align-items-center justify-content-between mb-3">
                              <div class="col-sm-6">
                                 <h6>Lastname</h6>                                       
                              </div>
                              <div class="col-sm-6">
                                 <p class="mb-0">{{ user_data.last_name }}</p>                                       
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="row align-items-center justify-content-between mb-3">
                              <div class="col-sm-6">
                                 <h6>Email</h6>                                       
                              </div>
                              <div class="col-sm-6">
                                 <p class="mb-0">{{ user_data.email }}</p>                                       
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
{% endblock %}
