
<br>
<div class="transfer-section-header">
    <h2 style="margin-bottom: 15px;">Fund Wallet</h2>
</div>

<form  method="POST">
    <div class="faq" style="max-width:700px;">
        <p>Enter the exact amount you want to fund your wallet with, and the wallet you wish to fund with (BTC, USDT, or ETH), don't put wrong amount to avoid lose of fund.</p>
        <div>
            <label>Amount</label>
            <input type="text" name="amount" placeholder="Type here">
        </div>
        <div>
            <label>Wallet</label>
            <input type="text" name="account_type" placeholder="Type here">
        </div>
    </div>
    <div class="payment-section-footer">
        <button class="save-button" style="width:100%;">
            Fund
        </button>
    </div>
</form>