<!-- side nav -->
<div class="app-body-navigation">
    <nav class="navigation">
        <a href="{% url 'home' %}">
            <i class="fas fa-check-square"></i>
            <span>Back</span>
        </a>
        <a href="{% url 'dashboard' %}">
            <i class="fas fa-check-square"></i>
            <span>Dashboard</span>
        </a>
        <a href="{% url 'investments' %}">
            <i class="fas fa-check-square"></i>
            <span>Investments</span>
        </a>
        <a href="{% url 'assets' %}">
            <i class="fas fa-check-square"></i>
            <span>Assets</span>
        </a>
        <a href="{% url 'transfer' %}">
            <i class="fas fa-check-square"></i>
            <span>Transfer</span>
        </a>
        <a href="{% url 'exchange' %}">
            <i class="fas fa-check-square"></i>
            <span>Exchange</span>
        </a>
        <a href="{% url 'profile' %}">
            <i class="fas fa-check-square"></i>
            <span>Account</span>
        </a>
        <a href="{% url 'logout' %}">
            <i class="fas fa-check-square"></i>
            <span>Logout</span>
        </a>
    </nav>
    <footer class="footer">
        <div>
            PROVEX HOMES ©<br />
            All Rights Reserved 2024
        </div>
    </footer>
</div>
