

{% extends "base.html" %}
{% load static %}

{% block content %}

      <!-- Page Content  -->
      <div id="content-page" class="content-page">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-8">

                  <div class="row">
                     <div class="col-sm-6 col-lg-6 col-xl-3">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                           <div class="iq-card-body">
                              <div class="d-flex align-items-center justify-content-between">
                                 <div class="iq-cart-text text-capitalize">
                                    <p class="mb-0">
                                       view
                                    </p>
                                 </div>
                                 <div class="icon iq-icon-box-top rounded-circle bg-primary">
                                    <i class="las la-eye"></i>
                                 </div>
                              </div>
                              <div class="d-flex align-items-center justify-content-between mt-3">
                                 <h4 class=" mb-0">+24K</h4>
                                 <p class="mb-0 text-primary"><span><i class="fa fa-caret-down mr-2"></i></span>35%</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6 col-lg-6 col-xl-3">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                           <div class="iq-card-body">
                              <div class="d-flex align-items-center justify-content-between">
                                 <div class="iq-cart-text text-capitalize">
                                    <p class="mb-0 font-size-14">
                                       Rated This App
                                    </p>
                                 </div>
                                 <div class="icon iq-icon-box-top rounded-circle bg-warning">
                                    <i class="lar la-star"></i>
                                 </div>
                              </div>
                              <div class="d-flex align-items-center justify-content-between mt-3">
                                 <h4 class=" mb-0">+55K</h4>
                                 <p class="mb-0 text-warning"><span><i class="fa fa-caret-up mr-2"></i></span>50%</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6 col-lg-6 col-xl-3">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                           <div class="iq-card-body">
                              <div class="d-flex align-items-center justify-content-between">
                                 <div class="iq-cart-text text-capitalize">
                                    <p class="mb-0 font-size-14">
                                       Investments
                                    </p>
                                 </div>
                                 <div class="icon iq-icon-box-top rounded-circle bg-info">
                                    <i class="las la-download"></i>
                                 </div>
                              </div>
                              <div class="d-flex align-items-center justify-content-between mt-3">
                                 <h4 class=" mb-0">+200M</h4>
                                 <p class="mb-0 text-info"><span><i class="fa fa-caret-up mr-2"></i></span>80%</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6 col-lg-6 col-xl-3">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                           <div class="iq-card-body">
                              <div class="d-flex align-items-center justify-content-between">
                                 <div class="iq-cart-text text-uppercase">
                                    <p class="mb-0 font-size-14">
                                       Visitors
                                    </p>
                                 </div>
                                 <div class="icon iq-icon-box-top rounded-circle bg-success">
                                    <i class="lar la-user"></i>
                                 </div>
                              </div>
                              <div class="d-flex align-items-center justify-content-between mt-3">
                                 <h4 class=" mb-0">+2M</h4>
                                 <p class="mb-0 text-success"><span><i class="fa fa-caret-up mr-2"></i></span>80%</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- All Investments -->
                  <div class="container">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between align-items-center">
                           <div class="iq-header-title">
                              <h4 class="card-title">All Investments</h4>
                           </div>
                           <div id="all-investments-slick-arrow" class="slick-aerrow-block"></div>
                        </div>
                        <div class="iq-card-body">
                           <div class="row">
                              {% for plan_details in all_investment_details %}
                                 <div class="col-sm-6 col-lg-4 col-xl-3 mb-4">
                                    <div class="iq-card">
                                       <div class="iq-card-body p-0">
                                          <div class="iq-thumb">
                                             <a href="javascript:void(0)">
                                                <!-- Replace the image source with the appropriate field from plan_details -->
                                                <img src="{{ plan_details.image_url }}" class="img-fluid w-100 img-border-radius" alt="">
                                             </a>
                                          </div>
                                          <div class="iq-feature-list">
                                             <h6 class="font-weight-600 mb-0">{{ plan_details.plan_type }}</h6>
                                             <p class="mb-0 mt-2">ROI: {{ plan_details.roi_percentage }}%</p>
                                             <p class="mb-0">Duration: {{ plan_details.investment_duration }}</p>
                                             <!-- Add more details as needed -->
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              {% endfor %}
                           </div>
                        </div>
                     </div>
                  </div>
                  
               </div>

               <!-- users of product -->
               <div class="col-lg-4">
                  <div class="iq-card iq-card iq-card-block iq-card-stretch iq-card-height">
                     <div class="iq-card-header">
                        <div class="iq-header-title">
                           <h4 class="card-title text-center">User's Of Product</h4>
                        </div>
                     </div>
                     <div class="iq-card-body pb-0">
                        <div id="view-chart-01">
                        </div>
                        <div class="row mt-1">
                           <div class="col-sm-6 col-md-3 col-lg-6 iq-user-list">
                              <div class="iq-card">
                                 <div class="iq-card-body">
                                    <div class="media align-items-center">
                                       <div class="iq-user-box bg-primary"></div>
                                       <div class="media-body text-white">
                                          <p class="mb-0 font-size-14 line-height">New <br>
                                             Customer
                                          </p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-6 col-md-3 col-lg-6 iq-user-list">
                              <div class="iq-card">
                                 <div class="iq-card-body">
                                    <div class="media align-items-center">
                                       <div class="iq-user-box bg-warning"></div>
                                       <div class="media-body text-white">
                                          <p class="mb-0 font-size-14 line-height">Exsisting <br>
                                             Subscriber's
                                          </p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-6 col-md-3 col-lg-6 iq-user-list">
                              <div class="iq-card">
                                 <div class="iq-card-body">
                                    <div class="media align-items-center">
                                       <div class="iq-user-box bg-info"></div>
                                       <div class="media-body text-white">
                                          <p class="mb-0 font-size-14 line-height">Daily<br>
                                             Visitor's
                                          </p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-6 col-md-3 col-lg-6 iq-user-list">
                              <div class="iq-card">
                                 <div class="iq-card-body">
                                    <div class="media align-items-center">
                                       <div class="iq-user-box bg-danger"></div>
                                       <div class="media-body text-white">
                                          <p class="mb-0 font-size-14 line-height">Extented <br>
                                             Subscriber's
                                          </p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Page Content  -->
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="iq-card">
                           <div class="iq-card-header d-flex justify-content-between">
                              <div class="iq-header-title">
                                 <h4 class="card-title">Your Investments</h4>
                              </div>
                           </div>
                        
                           <!-- Investment Details -->
                           <div class="row">
                              <div class="col-sm-12">
                                 <div class="iq-card">
                                    <div class="iq-card-body">
                                       <div class="table-responsive">
                                          <table class="data-tables table movie_table" style="width:100%">
                                             <thead>
                                                <tr>
                                                   <th>Plan Type</th>
                                                   <th>ROI Percentage</th>
                                                   <th>Affine Space Duration</th>
                                                   <th>Investment Duration</th>
                                                   <th>Amount</th>
                                                   <th>Start Date</th>
                                                   <th>End Date</th>
                                                   <th>Percentage Return</th>
                                                   <th>Monetary Return</th>
                                                   <th>Total Amount</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                {% for investment in investment_details %}
                                                   <tr>
                                                      <td>{{ investment.plan_type }}</td>
                                                      <td>{{ investment.roi_percentage }}</td>
                                                      <td>{{ investment.affine_space_duration }}</td>
                                                      <td>{{ investment.investment_duration }}</td>
                                                      <td>{{ investment.amount }}</td>
                                                      <td>{{ investment.start_date }}</td>
                                                      <td>{{ investment.end_date }}</td>
                                                      <td>{{ investment.percentage_return }}</td>
                                                      <td>{{ investment.monetary_return }}</td>
                                                      <td>{{ investment.total_amount }}</td>
                                                   </tr>
                                                {% endfor %}
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>

                        </div>
                     </div>
                  </div>
               </div>
               
         </div>
      </div>
      
<!-- Add this script to the end of your HTML body -->
<script>
   $(document).ready( function () {
     $('.data-tables').DataTable({
       "paging": true,         // Enable pagination
       "ordering": true,       // Enable sorting
       "info": true,           // Show table information
       "searching": true,      // Enable search bar
       "lengthMenu": [10, 25, 50, 100],  // Set page length options
       "pageLength": 10        // Set default page length
     });
   });
 </script>
 
{% endblock content %}
