
{% extends "base.html" %}
{% load static %}

{% block content %}

   <!-- Page Content  -->
   <div id="content-page" class="content-page">
      <div class="container-fluid">
         
         <div class="row">
            <div class="col-sm-12">
               <h3 class="mb-3">Withdraw</h3>
            </div>
            <div class="col-lg-4">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height iq-mb-3">
                  <div class="iq-card-body">
                     <h4 class="card-title">Special title treatment</h4>
                     <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                     <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 text-center">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height iq-mb-3">
                  <div class="iq-card-body">
                     <h4 class="card-title">Special title treatment</h4>
                     <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                     <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 text-right">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height iq-mb-3">
                  <div class="iq-card-body">
                     <h4 class="card-title">Special title treatment</h4>
                     <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                     <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>

{% endblock %}